[user]
name = Osman Koçak
email = kocakosm@gmail.com

[core]
editor = vim
autocrlf = input

[init]
defaultBranch = main

[pull]
ff = only

[push]
default = simple

[diff]
noprefix = true

[alias]
rollback = reset HEAD^
