[user]
name = Osman Koçak
email = kocakosm@gmail.com

[core]
editor = vim
autocrlf = input

[init]
defaultBranch = main

[pull]
ff = only

[push]
default = simple

[diff]
tool = gvimdiff
noprefix = true
algorithm = histogram

[alias]
rollback = reset HEAD^
